<html>

<head>
  <title>Reddit</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body ng-app="RedditNews" ng-controller="MainCtrl">

      <ui-view></ui-view>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Reddit clone.</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
  <script type="text/ng-template" id="/home.html">
  <div class="container">
    <div class="jumbotron text-center">
      <div class="text-center">
        <h1>{{ heading }}</h1>
      </div>
      <p class="lead">Curated news from the internet.</p>
      <p> <a class="btn btn-primary btn-md" href="http://github.com/M0unir/reddit-clone" target="_blank">Github repo</a></p>
    </div>
    <div ng-repeat="post in posts | orderBy:'-upvotes'">
      <a href="" class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></a>
      {{post.upvotes}}
      <a ng-show="post.link" ng-href="{{post.link}}" target="_blank">
        <strong>{{ post.title | capitalize }}</strong>
      </a>
      <span ng-hide="post.link">
        <strong>{{ post.title | capitalize }}</strong>
      </span>
      <span>
        <a href="#/posts/{{post._id}}">Comments</a>
      </span>
    </div>
    <br>
    <form ng-submit="addPost()">
      <h4>Add posts</h4>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
      </div>
      <button class="btn btn-danger btn-sm" type="submit">Add</button>
    </form>
  </div>
  </script>

    <script type="text/ng-template" id="/posts.html">
      <div class="container">
        <div class="jumbotron text-center">
          <div class="text-center">
            <h1>{{ heading }}</h1>
          </div>
            <h3>
              <a ng-show="post.link" href="{{post.link}}">
                {{post.link}}
              </a>
              <span ng-hide="post.link">
                {{post.link}}
              </span>
            </h3>
        </div>
        <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
          <a href="" class="glyphicon glyphicon-thumbs-up"
            ng-click="incrementUpvotes(comment)"></a>
          {{comment.upvotes}} - by {{comment.author}}
          <span style="font-size:20px; margin-left:10px;">
            {{comment.body}}
          </span>
 
        </div>
        <br>
        <form ng-submit="addComment()">
          <h4>Add Comment</h4>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your name.." ng-model="author"></input>
          </div>
          <div class="form-group">
            <input type="textarea" class="form-control" placeholder="Your comment.." ng-model="body"></input>
          </div>
          <button class="btn btn-danger btn-sm" type="submit">Add comment</button>
        </form>
      </div>
    </script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="javascripts/angularApp.js"></script>
  <script src="javascripts/services.js"></script>
  <script src="javascripts/controllers.js"></script>
</body>

</html>
