/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

.text-center {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 960px;
}

body>.container {
  padding: 60px 15px 0;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

a.glyphicon-thumbs-up {
  /*cursor:pointer;*/
  text-decoration: none;
}

a.glyphicon-thumbs-up:hover {
  zoom:1.1;
}


/* Media Queries*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 60%;
    max-width: 960px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
